a{

	text-decoration: none;
	font-weight: bold;
}



html {
	height: 100%;

}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	display: flex;
	height: 100%;
	width: 100%;
	background: #afc6ea;
	/*align-content: center;*/
    justify-content: center;
}
.wrapper_all{
	font: 12px/18px Arial, sans-serif;
	height: 100%;
	width: 1200px;
	background: #afc6ea;
	
}


.wrapper {
	margin-right: 120px;
	margin-left: 240px;
	min-width: 700px;
	height: auto !important;
	min-height: 1000px;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	padding: 20px;
	height: 150px;
	background: url(/Resources/img/header.png);
    background-repeat: no-repeat;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 10 10 10 10px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	min-height: 1000px;
	padding-top:30px; 
	float: left;
	width: 230px;
	/*margin-bottom: 110px;*/
	position: relative;
	background: #6c9ae2;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -100px auto 0;
	width: 100%;
	height: 200px;
	background: #6c9ae2;
	position: relative;
}

/* menu
-----------------------------------------------------------------------------*/
.menu{
display: inline-block;
float:left;
height: 25px;
background: #6c9ae2;
color: #fff;
padding: 10px;
font-size: 15px;

}
.menu:hover{
text-decoration: none;
	cursor:pointer;
opacity: 0.5;

}
.logout{
	color: #f44242;
	margin-left: 50px;
}


.MessageBlock{
border:1px solid #6c9ae2;
background:#f44842;

}



/*THERE IS DESIGN FOR BOOK ITEM
-----------------------------------------------------------------------------*/
.book_wrapper{
  background:#caf9d2 no-repeat center center;
  background-size: cover;
  height:254px;
  width: 184px;
  padding: 4px; 
}

.book_name{margin-right: 20px;
     margin-left: 20px;}
.details{
	background:#68bb54; 
	padding: 10px; 
	margin-top: 195px;
	border-radius: 5px;
	margin-left: 10px; }


     






