
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #c1cdc1;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#brand {
  width: 100%;
  /*//height: 200px;*/
  /*//border: 1px solid black;*/
  padding: 0 60px;
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-bottom: 0;
}
  #logoImg {
    width: 130px;
    height: 100px;
    margin-right: 50px;
  }
  
  .logo {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Cormorant Unicase', serif;
    width: 900px;
  }
  .search {
    font-size: 20px;
  }

.wrapper {
	background: white;
	width: 95%;
	margin: 20px auto;
   /* border: 2px solid red; */
	padding: 0;
	border-radius: 6px;
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.3);
  }
  
  .nav {
	width: 100%;
	background-image: linear-gradient(to bottom, #d2691e, #8b4513);
	border-radius: 5px;
	/* float: left; */
  }
  
  #navbar {
	list-style-type: none;
	/* padding: 5px; */
	margin: 0;
	text-align: center;
  }
  
  .nav li {
	display: inline-block;
	color: white;
	text-decoration: none;
	margin: 5px 60px;
	/* margin: 0 50px; */
	text-align: center;
  }
  
  .nav li a:hover {
	  color: white;
	  background: #d2691e;
	text-decoration: underline;
  }
  
  .link {
	color: white;
	font-size: 20px;
  }



  .top {
	width: 100%;
	margin: 4px;
	margin-left: -10px;
  }
  
  #main {
	width: 100%;
	height: 300px;
	padding: 5px;
	display: flex;
	flex-direction: row;
	list-style-type: none;
  }
  
  #main li {
	padding: 8px;
	flex: 0 1 auto;
	/* margin: 2px; */
  }
  
  #main img {
	border-radius: 5px;
	box-shadow: 0 0 2px 3px rgba(0,0,0,0.2);
  }
  
  #new {
	width: 35%;
  }
  
  #best {
	width: 63%;
  }

  .middle {
	width: 100%;
	margin: 10px;
  }
  
  .category {
	background: #c0c0c0;
	text-align: center;
	margin-right: 15px;
	font-size: 20px;
	border-radius: 5px;
	box-shadow: 0 0 3px 2px rgba(0,0,0,0.5);
  }
  
  .categ {
	list-style-type: none;
  }
  
  hr {
	margin: 8px;
  }
  
  .title {
	padding-top: 10px;
	font-size: 30px;
	font-family: 'Cormorant Unicase', serif;
	text-align: center;
  }
  

  .recs {
	background: #c0c0c0;
	padding: 0 20px;
	border-radius: 5px;
	box-shadow: 0 0 3px 2px rgba(0,0,0,0.5);
	margin-right: 15px;
  }
  
  .books {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	/*border: 1px solid red;*/
  }
  
  .best10 {
	width: 200px;
	margin-left: -10px;
  }
  

  #short {
	width: 100%;
	padding: 0;
	margin: 0;
	height: 250px;
	border-radius: 20px;
	box-shadow: 0 0 3px 2px rgba(0,0,0,0.5);
   /*  height: 50%; */
  }

/* 
Rebranding  */





.logout{
	color: #f44242;
	margin-left: 50px;
}


.MessageBlock{
border:1px solid #6c9ae2;
background:#f44842;

}

/*THERE IS DESIGN FOR BOOK ITEM
---------------------------- OlD version -------------------------------------------------
.book_wrapper{
  background-size: cover;
  padding-bottom: 20px;
  height:250px;
  width: 184px;
  padding-bottom: 20px;
  /// padding: 4px;  
}

.book_name{margin-right: 20px;
	color: #1e6be8;
	text-shadow: 3px 2px #ffffff;
	font-size: 15px;
	text-transform: uppercase;
     margin-left: 20px;}
.details{
	background:#68bb54; 
	padding: 10px; 
	z-index: 99999;
	border-radius: 5px;
	margin-left: 7px; }
.book_image{
width: inherit;
height: inherit;

}
*/


/*THERE IS DESIGN FOR BOOK ITEM
---------------------------- OlD version -------------------------------------------------*/
.book {
	display: inline-block;
  width: 150px;
  display: none;
  margin: 10px;
  padding: 10px;
  list-style-type: none;
  text-align: center;}
 
  
  .book_name {
    font-size: 20px;
    font-family: 'Cormorant Unicase', serif;
  }
  
  .buttonBook {
    margin-top: 10px;
    width: 60px;
    padding: 6px;
    background: #ffffff;
    border: 1px solid #a94242;
    border-radius: 40px;
    margin: 3px;
}
.buttonBook:hover {
      background: #a94242;
      color: white;
    }


.bookImg {
  width: 100%;
  height: 160px;
  margin-bottom: 10px;
}




